@page "/availabilities"
@using Microsoft.Graph
@using SafeDesk365.TeamsTab.Components;

<h1>All available slots</h1>
<DeskAvailabilityList ListType="DisplayType.Details"></DeskAvailabilityList>

@code {

}
