@page "/"
@page "/tab"
@using Azure.Core
@using Microsoft.Graph
@using SafeDesk365.TeamsTab.Components;

@inject MicrosoftTeams MicrosoftTeams
@inject SafeDesk365Service SafeDesk365Service
@inject TeamsUserCredential TeamsUserCredential;

<h1>My upcoming bookings</h1>
<BookingsList ListType="BookingListType.Upcoming" FilterType="BookingListFilter.CurrentUser"></BookingsList>


